*
{
    box-sizing: border-box;
    margin: 0;
}
.card
{
    display: grid;
    grid-template-columns: 15% 85%;
    justify-content: space-around;
    background-color:rgb(220,220,220);
    box-shadow: 2px 2px 8px slategray;
    padding: 3px 3px;
    margin: 15px 0px;
}
.image
{
    padding: 10px 20px;
    height: 150px;
    align-content: center;
    grid-column: 1/2;
}
.details
{
    grid-column: 2/3;
}
.title
{
    text-align: center;
    font-size: 30px;
    padding: 3px 0px;
    font-weight: bold;
}
.price
{
    padding-top: 10px;
    text-align: right;
    font-size: 25px;
}
.description
{
    font-size: 20px;
}
#search
{
    width: 100%;
    margin: 4px 0px;
}
nav{
    position: fixed;
    width: 100%;
    top: 0px;
    display:flex;
    justify-content: space-around;
	align-items: center;
	min-height: 25px;
    background-color:  rgb(10,10,10);
}
.bottom
{
    width:80%;
    display: flex;
    justify-content: space-around;
}
.links
{
    display:flex;
	justify-content: space-around; /*You need to define the space using width*/	
}
.link
{
    width:100%;
}
li
{
	list-style-type: none;
}
.links a, .links, .link li
{
	color: rgb(226,226,226);
    font-size: 20px;
    text-decoration: none;
    padding: 6px 0px;
}
a{
	text-decoration: none;
}
a:hover
{
	color: rgb(233, 139, 33);
}
.burger
{
	display: none;
}
.burger div
{
	width: 25px;
	height: 2px;
	background-color: rgb(226,226,226);
	margin: 5px;
	transition: all 0.3s ease-in;
}
.content
{
	font-family: 'Hind', sans-serif;
	font-size: 20px;
	padding-left: 2vw;
	margin:5vw 20px;
}
button
{
    font-size: 20px;
}
@media screen and (max-width:1440px)
{
	.links 
	{
		width:100%;
	}
}

@media screen and (max-width:800px)
{
	.links
	{
		position:absolute;
		justify-content: space-around;
		display: flex;
		flex-direction: column;
        top: 103px;
        height: 100vh;
        width:60%;
        right: 0px;
		background-color: rgb(10,10,10);
        padding : 0px 30px;
		visibility: hidden;
	}
	.links li
	{
		cursor: pointer;
		opacity:0;
	}
	.burger
	{
        position: absolute;
        right:10px;
        top:10px;
		display: block;
		cursor: pointer;
    }
    .logo
    {
        width:80%;
        text-align: center;
    }
    .content
	{
        margin-top: 70px;
    }
    nav
    {
        display: grid;
        width: 100%;
        grid-template-rows: 50% 50%;
    }
    .top
    {
        display: flex;
        grid-row: 1/2;
    }
    .bottom
    {
        grid-row: 2/3;
        display: flex;
        width: 100%;
    }
    #search
    {
        float: center;
    }

}
@media screen and (max-width: 800px)
{
    .card
    {
        display: flex;
        flex-direction: column;
    }
    .image
    {
        align-self: center;
        padding-bottom: 15px;
        width: 150px;
    }
    .content
    {
        padding-top: 60px;
    }
}
@keyframes navLinkFade
{
	from
	{
		opacity: 0;
		transform: translateX(-50px);
	}
	to
	{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes appear
{
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
.nav-active
{
	visibility: visible;
}
.toggle .line1
{
	transform: rotate(-45deg) translate(0px,10px);
}
.toggle .line2
{
	opacity:0;
}
.toggle .line3
{
	transform: rotate(45deg) translate(0px,-10px);
}