{% load static %}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<head>
    <title> Login </title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="icon" href="{% static 'pictures/icon.png' %}">
</head>

<body>
    <nav>
        <div class=top>
            <div class="logo">
                <img src="{% static 'pictures/logo.png' %}" height=60px>
            </div>
        </div>
        <div class=bottom>
            <ul class = links>
                <li><a href='/'>HOME</a></li>
                <li><a href='register'>REGISTER</a></li>
            </ul>
        </div>
    </nav>
    <div class=content>
        <h1 style=text-align:center;>Welcome back!</h1>
        <form action="login" method="post" class=form>
            {% csrf_token %}
            <div class = section>
                <label> Username </label>
                <input type=text name=username placeholder="Username" required>
                <label> Password </label>
                <input type=password name=password placeholder="Password" required><br>
                <button type=submit>Submit</button>
            </div>
            
        </form>
        <div class=messages>
            {% for message in messages %}
            <h4 style=text-align:center;>{{message}}</h4>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div>All rights reserved</div>
        <div>
            <ul>
                <li>Like the website?<a href='/contact'> Contact us </a></li>
                <li>Check the code <a href=https://github.com/Sudhansh6/Cravings>here</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>