{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cravings!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="icon" href="{% static 'pictures/icon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
</head>

<body>
    <nav>
        <div class=top>
            <div class="logo">
                <img src="{% static 'pictures/logo.png' %}" height=60px>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class=bottom>
            <input type=text placeholder="Search for your craving" id=search onkeyup="query()">
            <div class=link>
                <ul class="links">
                    <li><a href="/">HOME</a></li>
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.first_name}}</li>
                    <li><a href="{% url 'accounts:logout' %}">SIGN OUT</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:register'%}">REGISTER</a></li>
                    <li><a href="{% url 'accounts:login'%}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class=body>
        <div class = content>
            <div class=messages>
            </div>
            {% for item in items %}
            <div class=card id={{item.name}}>
                <img src="{{ item.img.url }}" height=50px class=image>
                <div class=details>
                    <div class=title>{{ item.name }}</div>
                    <div class=description> {{ item.description }} </div>
                    <div class=price>
                        -/{{ item.price }}<br>
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name=id value={{item.id}} type=submit>Delete form Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class=checkout>
            <table>
                <tr>
                    <th>Bill Details</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Cart Total</td>
                    <td>{{sum}}</td>
                </tr>
            </table>
            <br>
            {% if flag %}
            <button onclick = "window.location.href = '/cart/checkout';">Checkout</button>
            {% else %}
            <h4>Add items to your cart before checkout</h4>
            {% endif %}
        </div>
    </div>
    <footer>
        <div>All rights reserved</div>
        <div>
            <ul>
                <li>Like the website?<a href='/contact'> Contact us </a></li>
                <li>Check the code <a href=https://github.com/Sudhansh6/Cravings>here</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>