{% load static %}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<head>
    <title>Cravings!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/form2.css' %}">
    <link rel="icon" href="{% static 'pictures/icon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/validate.js' %}"></script>
</head>

<body>
    <nav>
        <div class=top>
            <div class="logo">
                <img src="{% static 'pictures/logo.png' %}" height=60px>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class=bottom>
            <input type=text placeholder="Search for your craving" id=search onkeyup="query()">
            <div class=link>
                <ul class="links">
                    <li><a href="/">HOME</a></li>
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.first_name}}</li>
                    <li><a href="{% url 'accounts:logout' %}">SIGN OUT</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:register'%}">REGISTER</a></li>
                    <li><a href="{% url 'accounts:login'%}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class = body >
        <div class=content>
            {% for a in address %}
            <form class = form action = '/cart/checkout' method = 'post'>
                {% csrf_token %}
                
                <div class = section>
                   <button type = submit name = old value={{a.id}} class = options>
                       Use {{a.name}}'s address for delivery<br>
                       <span class = subtext>{{a.street}}...</span>
                    </button>
                </div> 
            </form>
            {% endfor %}
            <div id=message>
                {% for message in messages %}
                <h4>{{message}}</h4>
                {% endfor %}
            </div>
            <form class=form id=form action ='/cart/checkout' method='post' onSubmit="return checkform()">
                {% csrf_token %}
                <div class = section>
                    <label> Name </label>
                    <input required name = name placeholder="Name of the address (keep it unique)">
                    <label> Street Address </label>
                    <input required name = street placeholder="Do not exceed 50 characters">
                    <label> City </label>
                    <input required name = city placeholder="Hyderabad">
                    <label> State </label>
                    <select required name="state">
                        <option value="TS">Telangana</option>
                        <option value="AP">Andhra Pradhesh</option>
                        <option value="MH">Maharashtra</option>
                    </select>
                    <label> PINCODE </label>
                    <input required name = pin placeholder="123456">
                    <label> Contact No.</label>
                    <input required name = phone placeholder="XXXXXXXXXX">
                    <button onclick='return validate()' name=old value=-1 class=button>Add address</button>
                </div>
            </form>
        </div>

        <div class=checkout>
            <table>
                <tr>
                    <th>Bill Details</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Item Total</td>
                    <td>{{sum}}</td>
                </tr>
                <tr>
                    <td>Delivery Fee</td>
                    <td>{{delivery}}</td>
                </tr>
                <tr>
                    <td>Taxes and Charges</td>
                    <td>{{taxes}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>{{total}}</th>
                </tr>
            </table>
        </div>
    </div>
    <footer>
        <div>All rights reserved</div>
        <div>
            <ul>
                <li>Like the website?<a href='/contact'> Contact us </a></li>
                <li>Check the code <a href=https://github.com/Sudhansh6/Cravings>here</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>