{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cravings!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/form2.css' %}">
    <link rel="icon" href="{% static 'pictures/icon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
</head>

<body>
    <nav>
        <div class=top>
            <div class="logo">
                <img src="{% static 'pictures/logo.png' %}" height=60px>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class=bottom>
            <input type=text placeholder="Search for your craving" id=search onkeyup="query()">
            <div class=link>
                <ul class="links">
                    <li><a href="/">HOME</a></li>
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.first_name}}</li>
                    <li><a href="{% url 'accounts:logout' %}">SIGN OUT</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:register'%}">REGISTER</a></li>
                    <li><a href="{% url 'accounts:login'%}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class = body >
        <div class=content>
            <form class = form>
                {% csrf_token %}
                <div class = section>
                    <label> Delivery address </label>
                    <input>
                    <label> Contact No.</label>
                    <input>
                </div>
                <div class = section>
                    <label>Credit Card No.</label>
                    <input>
                    <label>Name</label>
                    <input>
                    <label>Expiry Date</label>
                    <input>
                    <label>CVV</label>
                    <input>
                </div>
            </form>  
        </div>

        <div class=checkout>
            <table>
                <tr>
                    <th>Bill Details</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Item Total</td>
                    <td>{{sum}}</td>
                </tr>
                <tr>
                    <td>Delivery Fee</td>
                    <td>{{delivery}}</td>
                </tr>
                <tr>
                    <td>Delivery Tip</td>
                    <td>
                        <form method='post'>
                            <input class=tip action=submit type="number" name="tip" min="5" step="5" style=''>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Taxes and Charges</td>
                    <td>{{taxes}}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <th>{{total}}</th>
                </tr>
            </table>
            <br>
            <button onclick="window.location.href = '/checkout';">Checkout</button>
        </div>
    </div>
</body>

</html>