{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Cravings!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="icon" href="{% static 'pictures/icon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
    <script src="{% static 'script/cart.js' %}"></script>
</head>

<body>
    <nav>
        <div class=top>
            <div class="logo">
                <img src="{% static 'pictures/logo.png' %}" height = 60px>
                <!-- <h3> Cravings! </h3> -->
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <div class=bottom>
            <input type=text placeholder="Search for your craving" id=search onkeyup="query()">
            <div class=link>
                <ul class="links">
                    <li><a href='cart/'>CART</a></li>
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.first_name}}</li>
                    <li><a href='accounts/logout'>SIGN OUT</a></li>
                    {% else %}
                    <li><a href='accounts/register'>REGISTER</a></li>
                    <li><a href='accounts/login'>LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class=content>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
        <br>
        <h2>Contact Us</h2>
        <form method="post" class = form> 
            <div class=section>
                {% csrf_token %}
                {{ form }}
            <button type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    <footer>
        <div>All rights reserved</div>
        <div>
            <ul>
                <li>Like the website?<a href='/contact'> Contact us </a></li>
                <li>Check the code <a href=https://github.com/Sudhansh6/Cravings>here</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>